.company-avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    margin-bottom: 1.2em;
}

.css-ousj0c-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 0 !important;
}

.login-cont {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-cont::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../../public/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    z-index: -1;
}